.container {
  height: 100%;
  width: 100%;
}
.panel-content {
  padding: 50px;
}
#map {
  height: 100%;
  width: 100%;
}
.attendance-content {
  width: 388px;
}

.kpi-card {
  background-color: #f7f7f7;
  margin: 8px;
  box-shadow: 0 1px 1px 0 rgba(21,28,40,.12), 0 4px 8px 0 rgba(21,28,40,.08), 0 4px 12px 0 rgba(23,25,31,.04), inset 0 -1px 1px 0 rgba(23,26,31,.04), inset 0 1px 2px 0 rgba(255,255,255,.64) !important;
}

div.kpis {
  margin-top: 16px;
  margin-bottom: 16px;

  mat-card {
    min-width: 192px !important;
    max-width: 256px !important;
    min-height: 128px !important;
    h1 {
      font-size: 48px;
      text-align: center;
    }
  }
}
