/* For use in src/lib/core/theming/_palette.scss */

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$md-galicia: (
    50 : #ffede0,
    100 : #ffd1b3,
    200 : #ffb380,
    300 : #ff944d,
    400 : #ff7d26,
    500 : #ff6600,
    600 : #ff5e00,
    700 : #ff5300,
    800 : #ff4900,
    900 : #ff3800,
    A100 : #ffffff,
    A200 : #fff4f2,
    A400 : #ffc9bf,
    A700 : #ffb4a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-galicia-app-primary: mat-palette($md-galicia, 500);

$md-galicia-app-accent: mat-palette($md-galicia, 500, A100, A400);

// The warn palette is optional (defaults to red).
$md-galicia-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$md-galicia-app-theme: mat-light-theme($md-galicia-app-primary, $md-galicia-app-accent, $md-galicia-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($md-galicia-app-theme);
